
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#menu-h {
    background-color: #000000;
}
#menu-h ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;

}
#menu-h ul li {
    display: inline;
}
#menu-h ul li a {
    color: #FFF;
    padding: 18px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-size: 18px;
    font-weight: bold;
}
#menu-h ul li a:hover {
    background-color:  #FF0000;
} 
#menu-h ul li:last-child {
    float: right;
  
} 